Generate QR Codes from URLs with QR Server API and Downloadable Images.json
{
  "name": "Generate QR Codes from URLs with QR Server API and Downloadable Images",
  "nodes": [
    {
      "parameters": {
        "formTitle": "QR Code Generator",
        "formDescription": "This mini application is to generate QR code for the provided URL.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "requiredField": true
            },
            {
              "fieldLabel": "width",
              "fieldType": "number",
              "placeholder": "1000",
              "requiredField": true
            },
            {
              "fieldLabel": "height",
              "fieldType": "number",
              "placeholder": "1000",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "6874fcea-b608-48b4-8642-1f7df8f402b2",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        432,
        448
      ],
      "webhookId": "f245588d-f91c-47a1-b506-fd193d3cd00b",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=http://api.qrserver.com/v1/create-qr-code/?data={{ $json.URL }}&size={{ $json.width }}x{{ $json.height }}",
        "options": {}
      },
      "id": "742256e5-39c9-47d7-b5bb-f4bc8f826fd0",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        656,
        448
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "returnBinary",
        "completionTitle": "QR code generation",
        "completionMessage": "=QR code of {{ $json.URL }} should have been downloaded to your device.",
        "options": {}
      },
      "id": "83eb10d0-5086-437f-a306-b1b6426cee38",
      "name": "Form",
      "type": "n8n-nodes-base.form",
      "position": [
        880,
        448
      ],
      "webhookId": "69bcb482-a687-41bf-8778-c3e5e8e5b706",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "50ac0871-f3f1-4466-aaf5-7a9b7980db12",
  "meta": {
    "templateId": "5124",
    "templateCredsSetupCompleted": true,
    "instanceId": "1dc57ff11d2a62e424460ee757f992bc401f3b13b43f307a475e159e86475aa4"
  },
  "id": "4lV8jYTKBGqlcGPX",
  "tags": []
}